<center>
   <span style="color:red; font-size:30px">
      SERIES PANDAS
   </span>
</center>

<span style="color:blue; font-size:15px">
   EJEMPLO 01: 
   <span style="color:purple; font-size:15px">
      FORMAS DE CREAR UNA SERIE PANDAS
   </span>
</span>

In [38]:
import pandas as pd

print('(1) A PARTIR DE UNA LISTA')
print('-------------------------')
lista = [10, 20, 30, 40, 50]
serie = pd.Series(lista)
print(serie)

print('(2) A PARTIR DE UN DICCIONARIO')
print('------------------------------')
diccionario = {'a': 100, 'b': 200, 'c': 300}
serie = pd.Series(diccionario)
print(serie)
print(serie[['a','b']])
print(serie['a'])

print('(3) ESPECIFICANDO INDICES Y DATOS POR SEPARADO')
print('----------------------------------------------')
lista = [10, 20, 30, 40, 50]
indices = ['a', 'b', 'c', 'd', 'e']
serie = pd.Series(lista, index=indices)
print(serie)
print(serie['e'])
print(serie[['a','e']])

print('(4) A PARTIR DE UN ESCALAR (REPETIDO VARIAS VECES)')
print('--------------------------------------------------')
valor = 5
serie = pd.Series(valor, index=['a', 'b', 'c', 'd', 'e'])
print(serie)
serie = pd.Series(valor, index=[x for x in range(5)])
print(serie)

print('(5) A PARTIR DE FECHAS')
print('----------------------')
fechas = pd.date_range('2022-01-01', periods=5)
lista = [10, 20, 30, 40, 50]
serie = pd.Series(lista, index=fechas)
print(serie)

(1) A PARTIR DE UNA LISTA
-------------------------
0    10
1    20
2    30
3    40
4    50
dtype: int64
(2) A PARTIR DE UN DICCIONARIO
------------------------------
a    100
b    200
c    300
dtype: int64
a    100
b    200
dtype: int64
100
(3) ESPECIFICANDO INDICES Y DATOS POR SEPARADO
----------------------------------------------
a    10
b    20
c    30
d    40
e    50
dtype: int64
50
a    10
e    50
dtype: int64
(4) A PARTIR DE UN ESCALAR (REPETIDO VARIAS VECES)
--------------------------------------------------
a    5
b    5
c    5
d    5
e    5
dtype: int64
0    5
1    5
2    5
3    5
4    5
dtype: int64
(5) A PARTIR DE FECHAS
----------------------
2022-01-01    10
2022-01-02    20
2022-01-03    30
2022-01-04    40
2022-01-05    50
Freq: D, dtype: int64

<span style="color:blue; font-size:15px">
   EJEMPLO 02: 
   <span style="color:purple; font-size:15px">
      FUNCIONES DE UNA SERIE
   </span>
</span>

In [29]:
import pandas as pd
import random

lista = [random.randint(1,6)  for x in range(10)]
serie = pd.Series(lista)
print(serie)

print('(1) STD: DESVIACION STANDARD')
print('----------------------------')
print(serie.std())

print('(2) DESCRIBE: VARIAS MEDICIONES')
print('-------------------------------')
print(serie.describe())

print('(3) SUM: SUMA')
print('-------------')
print(serie.sum())

print('(4) MAX: MAXIMO')
print('---------------')
print(serie.max())

print('(5) MIN: MINIMO')
print('---------------')
print(serie.min())

0    1
1    3
2    1
3    3
4    1
5    1
6    2
7    6
8    2
9    2
dtype: int64
(1) STD: DESVIACION STANDARD
----------------------------
1.5491933384829668
(2) DESCRIBE: VARIAS MEDICIONES
-------------------------------
count    10.000000
mean      2.200000
std       1.549193
min       1.000000
25%       1.000000
50%       2.000000
75%       2.750000
max       6.000000
dtype: float64
(2) SUM: SUMA
-------------
22

<span style="color:blue; font-size:15px">
   EJEMPLO 03: 
   <span style="color:purple; font-size:15px">
      FILTROS Y OTRAS FUNCIONES DE UNA SERIE PANDAS
   </span>
</span>

In [37]:
import pandas as pd

diccionario = {'Matematicas':8, 'Economia': 6, 'Programacion': 10, 'Fisica': 5}
serie = pd.Series(diccionario)
print(serie)
print(serie[serie > 6]) # Valores de la serie que sean mayores a 6
print(serie.sort_values()) # Ordenar por los valores de la serie
print(serie.sort_index()) # Ordenar por el indice de la serie ascendente
print(serie.sort_index(ascending=False)) # Ordenar por el indice de la serie descendente

Matematicas      8
Economia         6
Programacion    10
Fisica           5
dtype: int64
Matematicas      8
Programacion    10
dtype: int64
Fisica           5
Economia         6
Matematicas      8
Programacion    10
dtype: int64
Economia         6
Fisica           5
Matematicas      8
Programacion    10
dtype: int64
Programacion    10
Matematicas      8
Fisica           5
Economia         6
dtype: int64

<span style="color:blue; font-size:15px">
      BIBLIOGRAFIA
</span>

https://www.youtube.com/watch?v=YGtkqDvDFps&list=PLg9145ptuAig5cwvUCn9FNSUJyXBiFcVg&index=6