<center>
   <span style="color:red; font-size:30px">
      MYSQL
   </span>
</center>

<span style="color:blue; font-size:15px">
   EJEMPLO 01: 
   <span style="color:purple; font-size:15px">
      CONEXION MYSQL
   </span>
</span>

In [ ]:
import os, mysql.connector

conexion = None
try:
   conexion = mysql.connector.connect(
        host="localhost",
        port="3307",
        user="root",
        password="12345678",
        database="matricula")
   print('OK: CONEXION')
   query = "SELECT * FROM ALUMNO"
   cursor = conexion.cursor()
   cursor.execute(query)
   lista_tupla = cursor.fetchall()
   print(lista_tupla)

   for t in lista_tupla:
       t[0] = "x"
       print(t[0])

  


except Exception as e:
   print("ERROR: CONEXION ", e)

In [ ]:
import os, mysql.connector

conexion = None
try:
   conexion = mysql.connector.connect(
        host="localhost",
        port="3307",
        user="root",
        password="12345678",
        database="matricula")
   print('OK: CONEXION')
   query = "CREATE TABLE TPrueba(id int, nombre varchar(30))ENGINE=InnoDB DEFAULT CHARSET=utf8mb4"
   cursor = conexion.cursor()
   cursor.execute(query)
   conexion.commit()
   print("OK: CREAR TABLA")
except Exception as e:
   print("ERROR: CONEXION ", e)

In [ ]:
tupla_listas = ([1,2,3],[])

lista = tupla_listas[1]
lista.append(5)
lista.append([2,3,4])

print(tupla_listas)

In [ ]:
import os, mysql.connector

conexion = None
try:
   conexion = mysql.connector.connect(
        host="localhost",
        port="3307",
        user="root",
        password="12345678",
        database="matricula")
   print('OK: CONEXION')
   query = "INSERT INTO Tprueba(id,nombre) VALUES(%s,%s)"
   cursor = conexion.cursor()
   tupla = (2,'Vanessa')
   cursor.execute(query,tupla)
   conexion.commit()
   print("OK: INSERT")
except Exception as e:
   print("ERROR: CONEXION ", e)

In [4]:
import os, mysql.connector

conexion = None
try:
   conexion = mysql.connector.connect(
        host="localhost",
        port="3307",
        user="root",
        password="12345678",
        database="matricula")
   print('OK: CONEXION')
    
   query = "UPDATE TPrueba SET nombre = %s WHERE id = %s"
   tupla = ("Jorge",1)
   cursor = conexion.cursor()
   cursor.execute(query, tupla)

   # Verificar si se actualizó alguna fila
   if cursor.rowcount > 0:
        print("OK: UPDATE")
   else:
        print("No se actualizó ninguna fila.")   
   conexion.commit()

except Exception as e:
   print("ERROR: CONEXION ", e)

OK: CONEXION
No se actualizó ninguna fila.

In [6]:
import os, mysql.connector

conexion = None
try:
   conexion = mysql.connector.connect(
        host="localhost",
        port="3307",
        user="root",
        password="12345678",
        database="matricula")
   print('OK: CONEXION')
    
   query = "DELETE FROM TPrueba WHERE nombre = %s"
   tupla = ("Jorge",)

   cursor = conexion.cursor()
   cursor.execute(query, tupla)
   conexion.commit()

   # Verificar si se eliminó alguna fila
   if cursor.rowcount > 0:
        print("OK: DELETE")
   else:
        print("No se encontró el registro para eliminar.")

except Exception as e:
   print("ERROR: CONEXION ", e)

OK: CONEXION
OK: DELETE