<center>
   <span style="color:red; font-size:30px">
      MYSQL
   </span>
</center>

<span style="color:blue; font-size:15px">
   INSTALAR MODULO: 
   <span style="color:purple; font-size:15px">
      MYSQL.CONNECTOR
   </span>
</span>

In [17]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\ryzen\anaconda3\lib\site-packages (8.3.0)

<span style="color:blue; font-size:15px">CARGAR LIBRERIAS: <span style="color:purple; font-size:15px">OS-MYSQL.CONNECTOR</span></span>

In [14]:
import os, mysql.connector

<span style="color:blue; font-size:15px">
   EJEMPLO 01: 
   <span style="color:purple; font-size:15px">
      CREAR UNA CONEXION A UNA BASE DE DATOS MYSQL
   </span>
</span>

In [13]:
def ejemplo1():
    conexion = None
    try:
        conexion = mysql.connector.connect(
        host="localhost",
        port="3307",
        user="root",
        password="12345678",
        database="test0001")
    except:
        conexion = None

    if conexion != None:
       print('OK: CONEXION')
    else:
       print('ERROR: CONEXION')

def main():
    os.system("cls")
    ejemplo1()
          
if __name__ == "__main__":
   main()

OK: CONEXION

<span style="color:blue; font-size:15px">
   EJEMPLO 02: 
   <span style="color:purple; font-size:15px">
      CREATE TABLE
   </span>
</span>

In [ ]:
def ejemplo1():
    conexion = None
    try:
        conexion = mysql.connector.connect(
        host="localhost",
        port="3307",
        user="root",
        password="12345678",
        database="test0001")
    except:
        conexion = None

    if conexion != None:
       print('OK: CONEXION')
       try:
            query = '''CREATE TABLE Comprador ( 
                          id_comprador      INT         NOT NULL AUTO_INCREMENT,
                          nombre            VARCHAR(25) NOT NULL,
                          apellidos         VARCHAR(50) NOT NULL,
                          fecha_nacimiento  DATE        NOT NULL,
                                            PRIMARY KEY (id_comprador)
                       ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4''' # Query create table
            cursor = conexion.cursor()                            # Crear cursor
            cursor.execute(query)                                 # Ejecutar query. No producen resultado en el cursor
            conexion.commit()                                     # Guardar los cambios
            
            print('OK: CREATE TABLE')
       except:   
            print('ERROR: CREATE TABLE')
       finally:
            cursor.close()
            conexion.close()
    else:
       print('ERROR: CONEXION')


def main():
    os.system("cls")
    ejemplo1()
          
if __name__ == "__main__":
   main()

<span style="color:blue; font-size:15px">
   EJEMPLO 03: 
   <span style="color:purple; font-size:15px">
      INSERT
   </span>
</span>

In [18]:
def ejemplo1():
    conexion = None
    try:
        conexion = mysql.connector.connect(
        host="localhost",
        port="3307",
        user="root",
        password="12345678",
        database="test0001")
    except:
        conexion = None

    if conexion != None:
       print('OK: CONEXION')
       comprador_lst_lst = [
                             ['Miguel','Lopez Lescano','2010-01-01'],
                             ['Carlos','Roncal Alva','2009-02-15'],
                             ['Carla','Rodriguez Cuba','2008-03-20'],
                             ['Arturo','Rabanal Paredes','2011-04-21'],
                             ['Silvia','Vitteri Gonzalez','2007-05-05']
                           ]
       try:
            query = "INSERT INTO Comprador (nombre,apellidos,fecha_nacimiento) VALUES (%s, %s, %s)"  # Query insert
            cursor = conexion.cursor()                                                               # Crear cursor
            for comprador_lst in comprador_lst_lst:
                valores = (comprador_lst[0],comprador_lst[1],comprador_lst[2])                           
                cursor.execute(query,valores)                                                        # Ejecutar query. No producen resultado en el cursor

            conexion.commit()                                                                        # Confirmar los cambios de los datos en la base de datos    
            print('FILAS AFECTADAS: ', cursor.rowcount) 
            print('OK: INSERT')
       except:   
            print('ERROR: INSERT')
       finally:
            cursor.close()
            conexion.close()
    else:
       print('ERROR: CONEXION')


def main():
    os.system("cls")
    ejemplo1()
          
if __name__ == "__main__":
   main()

OK: CONEXION
FILAS AFECTADAS:  1
OK: INSERT

<span style="color:blue; font-size:15px">
   EJEMPLO 04: 
   <span style="color:purple; font-size:15px">
      SELECT
   </span>
</span>

In [19]:
def ejemplo1():
    conexion = None
    try:
        conexion = mysql.connector.connect(
        host="localhost",
        port="3307",
        user="root",
        password="12345678",
        database="test0001")
    except:
        conexion = None

    if conexion != None:
       print('OK: CONEXION')
       try:
            query = 'SELECT * FROM Comprador'    # Query create table
            cursor = conexion.cursor()           # Crear cursor
            cursor.execute(query)                # Ejecutar query. Resultado en el cursor
            comprador_lst = cursor.fetchall()    # Recuperar todos los resultados guardado en el cursor

            print(comprador_lst)
            print('OK: SELECT')
       except:   
            print('ERROR: SELECT')
       finally:
            cursor.close()
            conexion.close()
    else:
       print('ERROR: CONEXION')


def main():
    os.system("cls")
    ejemplo1()
          
if __name__ == "__main__":
   main()

OK: CONEXION
[(1, 'Miguel', 'Lopez Lescano', None), (2, 'Carlos', 'Roncal Alva', None), (3, 'Carla', 'Rodriguez Cuba', None), (4, 'Delly', 'Rabanal Paredes', None), (6, 'Miguel', 'Lopez Lescano', datetime.date(2010, 1, 1)), (7, 'Carlos', 'Roncal Alva', datetime.date(2009, 2, 15)), (8, 'Carla', 'Rodriguez Cuba', datetime.date(2008, 3, 20)), (9, 'Arturo', 'Rabanal Paredes', datetime.date(2011, 4, 21)), (10, 'Silvia', 'Vitteri Gonzalez', datetime.date(2007, 5, 5))]
OK: SELECT