<center>
   <span style="color:red; font-size:30px">
      SQLITE
   </span>
</center>

<span style="color:blue; font-size:15px">CARGAR LIBRERIAS: <span style="color:purple; font-size:15px">OS-SQLITE3</span></span>

In [1]:
import os, sqlite3

<span style="color:blue; font-size:15px">
   EJEMPLO 01: 
   <span style="color:purple; font-size:15px">
      CREAR UNA CONEXION A UNA BASE DE DATOS SQLITE
   </span>
</span>

In [2]:
def ejemplo1():
    nra = 'instituto.sqlite'
    conexion = None
    try:
        conexion = sqlite3.connect(nra)
    except:
        conexion = None

    if conexion != None:
       print('OK: CONEXION')
    else:
       print('ERROR: CONEXION')

def main():
    os.system("cls")
    ejemplo1()
          
if __name__ == "__main__":
   main()

OK: CONEXION

<span style="color:blue; font-size:15px">
   EJEMPLO 02: 
   <span style="color:purple; font-size:15px">
      CREATE TABLE
   </span>
</span>

In [4]:
def ejemplo1():
    nra = 'instituto.sqlite'
    conexion = None
    try:
        conexion = sqlite3.connect(nra)
    except:
        conexion = None

    if conexion != None:
       print('OK: CONEXION')
       try:
            query = '''CREATE TABLE Comprador ( 
                          id_comprador      INTEGER     NOT NULL PRIMARY KEY AUTOINCREMENT,
                          nombre            VARCHAR(25) NOT NULL,
                          apellidos         VARCHAR(50) NOT NULL,
                          fecha_nacimiento  DATE        NOT NULL
                       )''' # Query create table
            cursor = conexion.cursor()                            # Crear cursor
            cursor.execute(query)                                 # Ejecutar query. No producen resultado en el cursor
            conexion.commit()                                     # Guardar los cambios
            
            print('OK: CREATE TABLE')
       except:   
            print('ERROR: CREATE TABLE')
       finally:
            cursor.close()
            conexion.close()
    else:
       print('ERROR: CONEXION')


def main():
    os.system("cls")
    ejemplo1()
          
if __name__ == "__main__":
   main()

OK: CONEXION
ERROR: CREATE TABLE

<span style="color:blue; font-size:15px">
   EJEMPLO 03: 
   <span style="color:purple; font-size:15px">
      INSERT
   </span>
</span>

In [15]:
def ejemplo1():
    nra = 'instituto.sqlite'
    conexion = None
    try:
        conexion = sqlite3.connect(nra) # Conectar a la base de datos SQLite (creará un archivo si no existe)
    except:
        conexion = None

    if conexion is not None:
       print('OK: CONEXION')
       comprador_lst_lst = [
                             ['Miguel','Lopez Lescano','2010-01-01'],
                             ['Carlos','Roncal Alva','2009-02-15'],
                             ['Carla','Rodriguez Cuba','2008-03-20'],
                             ['Arturo','Rabanal Paredes','2011-04-21'],
                             ['Silvia','Vitteri Gonzalez','2007-05-05']
                           ]
       try:
            query = "INSERT INTO Comprador (nombre,apellidos,fecha_nacimiento) VALUES (?, ?, ?)"  # Query insert
            cursor = conexion.cursor()                                                               # Crear cursor
            for comprador_lst in comprador_lst_lst:
                valores1 = (comprador_lst[0],comprador_lst[1],comprador_lst[2])  
                cursor.execute(query,valores1)                                                        # Ejecutar query. No producen resultado en el cursor
            conexion.commit()                                                                        # Confirmar los cambios de los datos en la base de datos    
            print('FILAS AFECTADAS: ', cursor.rowcount) 
            print('OK: INSERT')
       except:   
            print('ERROR: INSERT')
       finally:
            cursor.close()
            conexion.close()
    else:
       print('ERROR: CONEXION')


def main():
    os.system("cls")
    ejemplo1()
          
if __name__ == "__main__":
   main()

OK: CONEXION
FILAS AFECTADAS:  1
OK: INSERT

<span style="color:blue; font-size:15px">
   EJEMPLO 04: 
   <span style="color:purple; font-size:15px">
      SELECT
   </span>
</span>

In [16]:
def ejemplo1():
    nra = 'instituto.sqlite'
    conexion = None
    try:
        conexion = sqlite3.connect(nra) # Conectar a la base de datos SQLite (creará un archivo si no existe)
    except:
        conexion = None

    if conexion is not None:
       print('OK: CONEXION')
       try:
            query = 'SELECT * FROM Comprador'    # Query create table
            cursor = conexion.cursor()           # Crear cursor
            cursor.execute(query)                # Ejecutar query. Resultado en el cursor
            comprador_lst = cursor.fetchall()    # Recuperar todos los resultados guardado en el cursor

            print(comprador_lst)
            print('OK: SELECT')
       except:   
            print('ERROR: SELECT')
       finally:
            cursor.close()
            conexion.close()
    else:
       print('ERROR: CONEXION')


def main():
    os.system("cls")
    ejemplo1()
          
if __name__ == "__main__":
   main()

OK: CONEXION
[(1, 'Miguel', 'Lopez Lescano', '2010-01-01'), (2, 'Carlos', 'Roncal Alva', '2009-02-15'), (3, 'Carla', 'Rodriguez Cuba', '2008-03-20'), (4, 'Arturo', 'Rabanal Paredes', '2011-04-21'), (5, 'Silvia', 'Vitteri Gonzalez', '2007-05-05'), (6, 'Miguel', 'Lopez Lescano', '2010-01-01'), (7, 'Carlos', 'Roncal Alva', '2009-02-15'), (8, 'Carla', 'Rodriguez Cuba', '2008-03-20'), (9, 'Arturo', 'Rabanal Paredes', '2011-04-21'), (10, 'Silvia', 'Vitteri Gonzalez', '2007-05-05'), (11, 'Miguel', 'Lopez Lescano', '2010-01-01'), (12, 'Carlos', 'Roncal Alva', '2009-02-15'), (13, 'Carla', 'Rodriguez Cuba', '2008-03-20'), (14, 'Arturo', 'Rabanal Paredes', '2011-04-21'), (15, 'Silvia', 'Vitteri Gonzalez', '2007-05-05'), (16, 'Miguel', 'Lopez Lescano', '2010-01-01'), (17, 'Carlos', 'Roncal Alva', '2009-02-15'), (18, 'Carla', 'Rodriguez Cuba', '2008-03-20'), (19, 'Arturo', 'Rabanal Paredes', '2011-04-21'), (20, 'Silvia', 'Vitteri Gonzalez', '2007-05-05')]
OK: SELECT