<center>
   <span style="color:red; font-size:30px">
      TRY...EXCEPT
   </span>
</center>

<span style="color:blue; font-size:15px">
   EJEMPLO 01: 
   <span style="color:purple; font-size:15px">
      DIVISION ENTRE CERO
   </span>
</span>

In [ ]:
try:
    resultado = 10 / 0
except ZeroDivisionError:
    print("¡No se puede dividir entre cero!")

In [ ]:
resultado = 10 / 0
print('Hola Mundo')

<span style="color:blue; font-size:15px">
   EJEMPLO 02: 
   <span style="color:purple; font-size:15px">
      CONVERSION DE TIPO
   </span>
</span>

In [ ]:
try:
    numero = int("abc")
except ValueError:
    print("Error: no se puede convertir a entero.")

In [ ]:
numero = int("abc")

<span style="color:blue; font-size:15px">
   EJEMPLO 03: 
   <span style="color:purple; font-size:15px">
      ACCEDER A UN INDICE FUERA DEL RANGO
   </span>
</span>

In [ ]:
lista = [1, 2, 3]
try:
    print(lista[5])
except IndexError:
    print("Error: índice fuera del rango.")

In [ ]:
lista = [1, 2, 3]
print(lista[5])

<span style="color:blue; font-size:15px">
   EJEMPLO 04: 
   <span style="color:purple; font-size:15px">
      MANEJO GENERICO DE ERRORES
   </span>
</span>

In [2]:
try:
    x = int(input("Ingresa un número: "))
    y = 10 / x
    print("Resultado:", y)
except Exception as e:
    print("Ocurrió un error:", e)

Ingresa un número:  SDFASD

Ocurrió un error: invalid literal for int() with base 10: 'SDFASD'

<span style="color:blue; font-size:15px">
   EJEMPLO 05: 
   <span style="color:purple; font-size:15px">
      VARIOS BLOQUES EXCEPT
   </span>
</span>

In [3]:
try:
    valor = int("10.5")
except ValueError:
    print("Error de valor.")
except TypeError:
    print("Error de tipo.")

Error de valor.